// Place all the styles related to the narratives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main#narratives-index {
  padding: 3em;

  .narratives-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;

    h1 {
      font-weight: normal;
    }
  }

  .narratives-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .narrative-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 25%;

      text-decoration: none;
      text-align: justify;
      border: 1px solid #707070;

      padding: 2em;
      margin-bottom: 5em;

      h2 {
        text-align: center;
      }

      .narrative-card-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 100%;
        margin-top: 2em;

        span {
          text-align: center;
        }

        img {
          width: 5em;
          height: auto;
        }
      }

      img {
        width: 100%;
        height: 20em;
      }
    }
  }

}