<div class="container-fluid">
  <div class="row">
    <div class="h-auto col-md-10 offset-md-1">

      <div class="card-header cabe">
        <div class="row justify-content-between align-items-center">
          <div class="col-4">
            <div class="avatar">
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="d-block w-100">
              <div>
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" class="avatarSub">
              </div>
            </div>
          </div>
          <div class="col align-self-end">
            <div class="col">
              <span class="font-italic nomeAluno">Nome do Aluno Completo</span>
            </div>
            <br>
            <div class="col">
              <span class="nomePersonagem">Nome do Personagem</span>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body body">
          <div class="row">
            <div class="col-md-3">
              <div class="card gedf-card jogador">
                <div class="card-body">
                    <h5 class="card-title text-center">Jogador Da Mesa:</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Mesa de teste Jogada</h6>
                    <p class="card-text text-center">Evolução na matéria</p>
                    <div class="progress">
                      <div class="progress-bar progress-bar-striped progress-bar-animated"
                          role="progressbar" style="width: 25%" aria-valuenow="25"
                          aria-valuemin="0" aria-valuemax="100">
                      </div>
                    </div>
                    <p class="card-text text-center">Ficha do Personagem</p>
                    <div class="text-center">
                      <a href="#" class="card-link"><i class="far fa-file-pdf"></i></a>
                    </div>
                </div>
              </div>
            </div>

            <%#   POST   %>
            <div class="col-md-9 gedf-main">
              <div class="card gedf-card post">
                <div class="card-body">
                  <div class="row">
                    <div class="col-10">
                      <a class="card-link" href="#">
                        <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adip.</h5>
                      </a>
                    </div>
                    <div class="col-2">
                      <div class="text-muted h7 mb-2 text-right">
                        <i class="fa fa-clock-o"></i>10 min ago
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="card-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla
                      rem
                      eos ipsa.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="card-footer">
                  <div class="row">
                    <div class="col-8">
                      <a href="#" class="card-link"><i class="far fa-file-pdf"></i></a>
                      <a href="#" class="card-link"><i class="fab fa-youtube"></i></a>
                      <a href="#" class="card-link"><i class="far fa-images"></i></a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card gedf-card post">
                <div class="card-body">
                  <div class="row">
                    <div class="col-10">
                      <a class="card-link" href="#">
                        <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adip.</h5>
                      </a>
                    </div>
                    <div class="col-2">
                      <div class="text-muted h7 mb-2 text-right">
                        <i class="fa fa-clock-o"></i>10 min ago
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <p class="card-text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla
                      rem
                      eos ipsa.
                      </p>
                    </div>
                  </div>
                </div>

                <div class="card-footer">
                  <div class="row">
                    <div class="col-8">
                      <a href="#" class="card-link"><i class="far fa-file-pdf"></i></a>
                      <a href="#" class="card-link"><i class="fab fa-youtube"></i></a>
                      <a href="#" class="card-link"><i class="far fa-images"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>