// Colors

$nav-grey: #CFCFCF;
$background-grey: #3D3D3D;
$border-grey: #707070;
$white: #FFFFFF;

// Font Sizes
$thirty:    3rem;
$twenty2:   2.2rem;
$twenty:    2rem;
$eighteen:  1.8rem;
$fifteen:   1.5rem;
$twelve:    1.2rem;
$ten:       1rem;